extends layout

block content
  h1= title

  ul
    each author in author_list
      if author.DOBformatted || author.DODformatted
        li
          a(href=author.url) #{author.name}
          if author.DOBformatted && author.DODformatted
            |  (#{author.DOBformatted} - #{author.DODformatted})
          else if author.DOBformatted
            |  (#{author.DOBformatted})
          else if author.DODformatted
            |  ( - #{author.DODformatted})
      else

